.first-img {
    height: 50%;
}

.hello {
    margin-top: 11%;
    color: #000000;
    position: absolute;
    width: 100%;
}

.profile-pic{
    width: 22%;
    /* transform: rotate(270deg); */
    position: absolute;
    margin-top:-6%;
    margin-left: 39%;
    /* border-style: double; */
}

.discover_button {
    height: 6%;
    float: right;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2.0vw;
    text-decoration: none;
    text-shadow:
        0px 1px 3px rgba(000, 000, 000, 0.3),
        0px 0px 0px rgba(255, 255, 255, 0);
    position: static;
    clear: both;
    margin-top: 2%;
    margin-right: 18%;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    border-radius: 25px;
    border: 1px solid rgb(69, 9, 104);
    box-shadow:
        0px 5px 5px rgba(000, 000, 000, 0.1),
        inset 0px 1px 0px rgba(255, 255, 255, 0.5);
}

.btn-grad {
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980 100%);
    margin-left: 35%;
    padding: 1.5%;
    width: 16%;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px rgb(90, 77, 150);
    border-radius: 10px;
    display: block;
    position: absolute;
}

.btn-grad-2 {
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980 100%);
    margin-left: 50%;
    padding: 1.5%;
    width: 13%;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px rgb(90, 77, 150);
    border-radius: 10px;
    display: block;
    position: absolute;
}


.btn-grad:hover,
.btn-grad-2:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
    /* font-size: 1rem; */
}

a:hover {
    /* font-size: 1.1rem; */
    color: white;
    text-decoration: none;
}

.container-name{
    background-color: #fffdf8;
    width: 100vw;
    height: 15vw;
    margin-top: 0%;
}

.container-about-me{
    width: 100vw;
    height: 70vw;
    background: #ee7676;
    margin-top: 25%;
}

.container-professional{
    width: 100vw;
    height: 60vw;
    background: #f9f9ff;
    margin-top: 0%;
}

.container-education{
    width: 100vw;
    height: 35vw;
    background: #fffdf8;
    margin-top: 0%; 
}

.container-project{
    width: 100vw;
    height: 50vw;
    background: #fffae3;
    margin-top: 25%;
}

.container-contact{
    width: 100vw;
    height: 50vw;
    /* background: #fffdf8; */
    /* background: #494949; */
    background: #04091e;
    color: white;
    margin-top: 0%;
}


#about {
    /*  background-color: #D57878;*/
    height: 1020px;
    margin-top: -100px;
    margin-left: 0px;
    /* position: absolute; */
}

#gray-box {
    /*  margin-top:150px;*/
    border-radius: 5px;
    width: 670px;
    margin: 0 auto;
    padding-top: 15px;
    font-size: 30px;
    background: #cccccc;
    height: 620px;
    font-family: 'Monaco', 'Courier New';
    text-align: left;
    font-size: 13px;
    color: #fafafa;
}

#black-box {
    width: 670px;
    padding: 20px;
    height: 620px;
    margin: 0 auto;
    background: #383737;
}

span.answer {
    color: #ccc;
}

.skills-title{
    color: #2e2e2e;
    margin-top: 0%;
    font-size: 2.2rem;
    font-weight: bold;
    position: absolute;
    margin-left: 40%;
}

.skills-description{
    margin-left: 35%;
    margin-top: 5%;
    position: absolute;
    font-size: 1.3rem;
}

.skills-section-title{
    color: #2e2e2e;
    margin-top: 15%;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
}


.barBg {
    background:#282828;
    width:25%;
    border:10px solid #282828;
    border-radius: 20px;
    box-shadow: 0px 5px 17px rgba(40, 40, 40, 0.5);
    position: absolute;
}

.bar {
    height:10px;
    border-radius: 12px;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    margin-top: -1.5%;
    margin-left: -1%;
    position: absolute;
}

.skill-name{
    font-size: 1.3rem;
    color: #2e2e2e;
    position: absolute; 
}

li{
  list-style:square;
}

.education-title{
    color: #2e2e2e;
    margin-top: 0%;
    font-size: 2.2rem;
    font-weight: bold;
    position: absolute;
    margin-left: 40%;
}

.education-info{
    margin-left: 50%;
    margin-top: 10%;
    position: absolute;
}

.timeline{
    height: 80%;
    background: #000000;
    width: 0.1%;
    margin-top: 8%;
    margin-left: 45%;
    position: absolute;
}

.timeline-circle{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: #313131;;
    margin-left: 43%;
    position: absolute;
}

.degree-name{
    right: 60%;
    font-size: 2.0rem;
    color: #000000;
    /* margin-left: 12%; */
    position: absolute;
}

.project-title{
    color: #2e2e2e;
    margin-top: 0%;
    font-size: 2.2rem;
    font-weight: bold;
    position: absolute;
    margin-left: 40%;
}

.container{
    position: absolute;
    display: flex;
    /* justify-content:center; */
    align-items: center;
    flex-wrap:nowrap;
    width: 1250px;
    /* background-color: blue; */
    margin-top: 4%;
    margin-left: 5%;
}

.container .card{
    width: 300px;
    margin: 40px 50px;
    padding: 40px 30px;
    background-color: #08AEEA;
    border-radius: 50px;
    background: linear-gradient(145deg, #fffff3, #e6e1cc);
    box-shadow:  20px 20px 60px #d9d5c1,
             -20px -20px 60px #ffffff;
}

.container .card:hover{
    border-radius: 50px;
    background: #fffae3;
    box-shadow: inset 20px 20px 60px #d9d5c1,
            inset -20px -20px 60px #ffffff;
}

.container .card .imgbx{
    position: relative;
    text-align: center;
}

.container .card .imgBx img{
    text-align: center;
    align-items: center;
    max-width: 100px;
}

.container .card .contentBx{
    position: relative;
    margin-top: 20px;
    text-align: center;
}

.container .card .contentBx h2{
    background-image: linear-gradient( 135deg, #6B73FF 10%, #000DFF 100%);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 700;
    font-size: 1.4em;
    letter-spacing: 2px;
}

.container .card .contentBx p{
    background-image: linear-gradient( 135deg, #6B73FF 10%, #000DFF 100%);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.container .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    color:#000DFF;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 16px;
    border-radius: 50px;
    background: #fffae3;
    box-shadow: inset -4px -4px 10px #d9d5c1,
                inset 1px 1px 1px rgba(2, 0, 0, 0.1);
}

.container .card .contentBx a:hover{
    box-shadow: inset 20px 20px 60px #d9d5c1,
                inset -20px -20px 60px #ffffff;
    color: #6B73FF;
}

.container .card a:hover span{
    display: block;
}

.container .card:hover .imgBx, .container .card:hover .contentBx{
    transform: scale(0.98);
}

.contact-title{
    color: #e9e7e7;
    margin-top: 5%;
    font-size: 2.2rem;
    font-weight: bold;
    position: absolute;
    margin-left: 37%;
}

.contact-links{
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    margin-top: 15%;

}

.newsletter-description{
    color: #e9e7e7;
    margin-top: 26%;
    font-size: 1.5rem;
    position: absolute;
    margin-left: 35%;
}

.subscribe-btn{
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980 100%);
    margin-left: 42%;
    margin-top: 30%;
    padding: 1.5%;
    width: 16%;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 5px rgb(90, 77, 150);
    border-radius: 10px;
    display: block;
    position: absolute;
}

.subscribe-btn:hover{
    padding: 2%;
    background-image: linear-gradient(to right, #26D0CE 0%, #1A2980 51%, #1A2980 100%);
}

.end-inputs input[type=text]{
    background: #55b9f3;
    padding: 1% 1%;
    width: 50%;
    border-radius: 25px;
    border: none;
    color: #1c1c1c;
    background-color: #e9e7e7;
    text-align: left;
    font-size: 1.5vw;
    margin-top: 30%;
    outline: none;
    z-index: -1;
}

.buy-me-a-coffee{
    margin-left: 42%;
    margin-top: 45%;
    position: absolute;
}
